{{!-- <!DOCTYPE html>

<html>
{{> header}}
<main>

  <body>

    <p align="center">
        <a href={{link}} target="_blank">
            <button style="border:none;color: rgb(255, 255, 255);padding: 16px 32px;text-align: center;display: inline-block;font-size: 18px;margin: 4px 2px;cursor: pointer;background-color: #2065D1;width:300px;font-weight: bold;border-radius:5px"}>
                Reset Password
            </button>
        </a>
    </p>
  </body>
</main>
{{> footer}}

</html> --}}



<!DOCTYPE html>

<html>
  {{>head}}
  <main>
    <body>
      <table
 {{{containerstyle}}}
    
      >
        <tr> 
          <td>{{> header}}</td>
        </tr>
        <tr>
          <td> 
            <table
              class="mobile-width"
 {{{bodytablestyle}}}
              
            >
              <tr>
                <td>
                  <div {{{divstyle}}}>
                  <p>Dear {{name}},</p>
                      <p>A request to reset your password on the platform has been initiated.<p>
                      
                  </div>

                  <div {{{divstyle}}}>
                    <p>Click the button below to reset you password</p>
                    <p {{{pstyle}}}>
                      <a href={{link}} target="_blank">
                        <button
                          {{{buttonstyle}}}
                        >
                          Reset Password
                        </button>
                      </a>
                    </p>

                   <p>If it wasn’t you who initiated the request, please contact the technical support at support@pipeshub.com</p> 
                  </div>
 
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>{{> footer}}</td>
        </tr>
      </table>
    </body>
  </main>
</html>

 


